@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 1.25em;
$task-bg-color: rgb(230, 230, 230);
$indicator-bg-color: rgb(150, 150, 255);
$selected-bg-color: rgb(200, 200, 200);
$leaf-handler-dot-size:2px;
$leaf-handler-dot-space:6px;
$leaf-handler-dot-bg: black;
$leaf-handler-dot-color: white;
.font {
    font-family: $font-stack;
    font-size: $font-size;
}

.mb-task {
    max-width: 640px;
    width: 100%;
}
.mb-task-leaf {
    /* Styles for leaf elements */
    font-size: 1rem;
    font-family: $font-stack;
}

.mb-task-content {
    /* Styles for content elements */
    display: flex;
    align-items: center;
}

.mb-task-expand {
    /* Styles for expand icons */
    width: 15px;
    height: 15px;
    cursor: pointer;

    &::before {
        content: '+';
    }

    &.hidden::before {
        content: '';
    }

    &.expanded::before {
        content: '-';
    }
}

.mb-task-name {
    width:100%;
    /* Styles for name elements */
    padding: 0.7rem 1.2rem;
    margin: 0.1em;
    background: $task-bg-color;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;

}

.mb-task-indicator {
    /* Styles for indicator elements */
    background: $indicator-bg-color;
    height: 5px;
    width: 100px;
    padding: 0 1em;
}

.mb-task-select {
    /* Styles for selected elements */
    background: $selected-bg-color;
}
.mb-task-leaf-edit .mb-task-select {
    /* Styles for edit elements */
    background: $indicator-bg-color;
}
.mb-task-leaf-handler {
    cursor: grab;
    opacity: 0.5;
    width: 22px;
    height: 22px;
    background-color: #ccc;
    display: block;
    background:
        linear-gradient(90deg, $leaf-handler-dot-color calc(#{$leaf-handler-dot-space} - #{$leaf-handler-dot-size}), transparent 1%) center / #{$leaf-handler-dot-space} #{$leaf-handler-dot-space},
        linear-gradient($leaf-handler-dot-color calc(#{$leaf-handler-dot-space} - #{$leaf-handler-dot-size}), transparent 1%) center / #{$leaf-handler-dot-space} #{$leaf-handler-dot-space},
        $leaf-handler-dot-bg;
    background-position: 0 0, 50% 0;
}

.suggestion-span {
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 0 2px;
    display: inline-flex;
    align-items: center;

    .remove-suggestion {
        margin-left: 5px;
        cursor: pointer;
    }
}
#taskarea {
//    focus 
&:focus {
    outline: none;
    border:1px solid $indicator-bg-color;
}

}
#taskeditor {
    max-width: 640px;
    &.mb-task-select-mode {
        #editTaskBtn {
            display: none;
        }
    }
    &.mb-task-edit-mode {
        #createTaskBtn {
            display: none;
        }
    }
}